.reveal {
  color: #000;
  background: #fff;

  pre.code {
    background: transparent;
  }

  .hljs {
    background: none;
  }

  section img {
    margin: 1rem auto;
  }

  .progress span {
    display: block;
    height: 100%;
    width: 100%;
    background-color: currentColor;
    transition: transform 0.8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transform-origin: 0 0;
    transform: scaleX(0);
  }

  &:fullscreen,
  &:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
  }
}
